*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
}

.page__body {
  margin: 0;
  padding: 0;
  font-family: $text-font;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: $dark-gray-text-4;
  background-color: $site-bg;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    color: $dark-text;
  }
}
