*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
}

.page__body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  font-family: $text-font;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: $dark-gray-text-4;
  background-color: $site-bg;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    color: $dark-text;
  }
}

.primary-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-family: $title-font;
  line-height: 20px;
  color: $light-text;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $primary-decoration-color;
  border: none;
}

.catalog-section-title {
  // position: relative;
  // z-index: 2;
  align-self: flex-start;
  display: flex;
  align-items: center;
  gap: 20px;
  text-indent: 20px;
  // min-width: 0;
  // background-color: $site-bg;

  @media (min-width: $tablet-width) {
    padding-left: 40px;
  }
}

.catalog-section-title::before,
.catalog-section-title::after {
  content: "";
  width: 20px;
  flex-grow: 1;
  height: 2px;
  background-color: $primary-decoration-color;
}

.mobile-br {
  display: none;

  @media (max-width: calc($tablet-width - 1px)) {
    display: block;
  }
}

.tablet-br {
  display: none;

  @media (min-width: $tablet-width) and (max-width: calc($desktop-width - 1px)) {
    display: block;
  }
}

.tablet-desktop-br {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
