*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  justify-content: center;
  min-width: 320px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: $text-font;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: $dark-gray-text-4;
  background-color: $site-bg;

  @media screen and (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.primary-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-family: $title-font;
  line-height: 20px;
  color: $light-text;
  text-transform: uppercase;
  background-color: $primary-decoration-color;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba($light-text, 0.3);
    background-color: #5eaa2f;
  }
}

.prime-title {
  font-family: $title-font;
  font-size: 36px;
  line-height: 40px;

  @media screen and (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 100%;
  }
}

.catalog-section-title {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 24px;
  line-height: 100%;
  color: $dark-text;
  white-space: nowrap;

  @media screen and (max-width: calc($tablet-width - 1px)) {
    text-indent: 20px;
  }

  @media screen and (min-width: $tablet-width) {
    gap: 40px;
    font-size: 32px;
  }

  @media screen and (min-width: $desktop-width) {
    font-size: 40px;
  }
}

.catalog-section-title::before,
.catalog-section-title::after {
  content: "";
  height: 2px;
  background-color: $primary-decoration-color;
}

.catalog-section-title::before {
  @media screen and (max-width: calc($tablet-width - 1px)) {
    display: none;
  }

  @media screen and (min-width: $tablet-width) {
    width: 30px;
  }

  @media screen and (min-width: $desktop-width) {
    width: 70px;
  }
}

.catalog-section-title::after {
  flex-grow: 1;
  width: 35px;
}

.mobile-br {
  display: none;

  @media screen and (max-width: calc($tablet-width - 1px)) {
    display: block;
  }
}

.tablet-br {
  display: none;

  @media screen and (min-width: $tablet-width) and (max-width: calc($desktop-width - 1px)) {
    display: block;
  }
}

.tablet-desktop-br {
  display: none;

  @media screen and (min-width: $tablet-width) {
    display: block;
  }
}
