$tablet-width: 768px;
$desktop-width: 1440px;

$dark-text: #000000;
// $light-text: #ffffff;
$light-text: #000000;
$dark-gray-text-2: #222222;
$dark-gray-text-4: #444444;

$title-font: "Oswald", "Lato", "Arial", sans-serif;
$text-font: "Lato", "Arial", sans-serif;

$site-bg: #ffffff;
