.additional-card {
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

.additional-card__title {
  font-size: 16px;
  line-height: 100%;
  color: $dark-gray-text-2;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}
