.additional {
  margin: 0 auto 40px;

  @media screen and (min-width: $tablet-width) {
    margin-bottom: 80px;
  }

  @media screen and (min-width: $desktop-width) {
    width: 1220px;
    margin-bottom: 96px;
  }
}

.additional__title {
  margin: 0 0 36px 20px;
  font-family: $title-font;

  @media screen and (min-width: $tablet-width) {
    margin-bottom: 80px;
    margin-left: 70px;
  }

  @media screen and (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.additional__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 35px;
  width: calc(100vw - 40px);
  margin: 0 auto;

  @media screen and (min-width: $tablet-width) {
    gap: 70px;
    width: calc(100vw - 60px);
  }

  @media screen and (min-width: $desktop-width) {
    grid-template-columns: 1fr 245px;
    gap: 81px;
    width: 1220px;
  }
}

.additional__list {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}

.additional__gift {
  width: calc(100vw - 40px);
  min-height: 290px;
  margin: 0 auto;

  @media screen and (min-width: $tablet-width) {
    width: calc(100vw - 60px);
  }

  @media screen and (min-width: $desktop-width) {
    width: 245px;
    min-height: 288px;
    margin: 0;
  }
}
