.catalog-section-title {
  font-size: 24px;
  line-height: 100%;
  color: $dark-text;

  @media (min-width: $desktop-width) {
    font-size: 32px;
  }

  @media (min-width: $tablet-width) {
    font-size: 40px;
  }
}
