.example {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "example-title"
    "example-decription"
    "example-list"
    "example-compare";
  gap: 20px;
  padding: 25px 20px 40px;
  background-color: #eaeaea;

  @media screen and (min-width: $tablet-width) {
    padding: 45px 30px 101px;
    background-color: transparent;
    background-image: linear-gradient(to top, $site-secondary-bg 462px, transparent 462px);
  }

  @media screen and (min-width: $desktop-width) {
    grid-template-columns: 436px 560px;
    grid-template-areas:
      "example-title      example-compare"
      "example-decription example-compare"
      "example-list       example-compare";
    gap: 69px 224px;
    justify-content: center;
    padding: 0 110px 75px;
    background-image: linear-gradient(transparent 135px, $site-secondary-bg 135px);
  }
}

.example__title {
  grid-area: example-title;
  margin: 0 0 20px;
  color: $dark-text;

  @media screen and (min-width: $tablet-width) {
    gap: 55px;
    margin-bottom: 5px;
  }

  @media screen and (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.example__description {
  grid-area: example-decription;
  margin: 0;

  @media screen and (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }

  @media screen and (min-width: $desktop-width) {
    display: flex;
    align-items: end;
    min-height: 173;
  }
}

.example__list {
  grid-area: example-list;
  display: grid;
  grid-template-columns: 124px 124px;
  grid-template-areas:
    "example-weight example-time"
    "example-cost   example-cost";
  gap: 20px 32px;
  margin: 0 auto;
  padding: 0;

  @media screen and (min-width: $tablet-width) and (max-width: calc($desktop-width - 1px)) {
    grid-template-columns: 162px 162px 1fr;
    grid-template-areas: "example-weight example-time example-cost";
    gap: 43px;
    width: calc($tablet-width - 60px);
  }

  @media screen and (min-width: $desktop-width) {
    grid-template-columns: 162px 162px;
    gap: 55px 42px;
    margin: 0;
  }
}

.example__item {
  display: grid;
  grid-template-columns: 1fr;
}

.example__item-title {
  align-self: center;
  order: 2;
  display: block;
  margin: -10px auto 0;
  padding: 0 16px;
  width: min-content;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  text-transform: lowercase;
  white-space: nowrap;
  background-color: #eaeaea;

  @media screen and (min-width: $tablet-width) {
    background-color: $site-bg;
  }

  @media screen and (min-width: $desktop-width) {
    padding: 0 9px;
    font-size: 14px;
    background-color: #f2f2f2;
  }
}

.example__item-value {
  order: 1;
  margin-left: 0;
  padding: 15px 10px 20px;
  font-family: $title-font;
  font-size: 20px;
  line-height: 24px;
  color: $dark-text;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #cdcdcd;
  border-radius: 3px;

  @media screen and (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__item--weight {
  grid-area: example-weight;
}

.example__item--time {
  grid-area: example-time;
}

.example__item-cost {
  grid-area: example-cost;
  display: flex;
  justify-content: center;
  white-space: nowrap;
  margin: 0 auto;
  font-family: $title-font;
  line-height: 20px;

  @media screen and (min-width: $tablet-width) {
    font-size: 20px;
    margin: 0;
  }

  @media screen and (min-width: $tablet-width) and (max-width: calc($desktop-width - 1px)) {
    flex-direction: column;
    text-align: end;
  }

  @media screen and (min-width: $desktop-width) {
    justify-content: flex-start;
  }
}

.example__item-cost-title,
.example__item-cost-value {
  color: $dark-text;
  text-transform: uppercase;
}

.example__item-cost-value {
  margin-left: 3px;

  @media screen and (min-width: $desktop-width) {
    margin-left: 63px;
  }
}

.example__compare-container {
  grid-area: example-compare;
  position: relative;
  display: grid;
  grid-template-columns: 140px 140px;
  gap: 4px;
  width: 280px;
  margin: 0 auto;

  @media screen and (min-width: $tablet-width) {
    grid-template-columns: 280px 280px;
    width: 560px;
  }
}

.example__compare-toggle {
  position: absolute;
  display: block;
  width: 4px;
  height: 256px;
  background-color: #666666;
  border: none;
  border-radius: 2px;
  transform: translateX(140px);
  z-index: 3;
  cursor: pointer;

  @media screen and (min-width: $tablet-width) {
    height: 512px;
    transform: translateX(280px);
  }

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 40px;
    height: 40px;
    content: "";
    background-color: $site-bg;
    border: 2px solid #666666;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 24px;
    height: 18px;
    content: "";
    mask-image: url("../../icons/stack.svg#compare-slider-arrows");
    background-color: #666666;
    mask-repeat: no-repeat;
    transform: translate(-50%, -50%);
  }

  &:hover,
  &:focus,
  &:hover::after,
  &:focus::after {
    background-color: #68b738;
  }

  &:hover::before,
  &:focus::after {
    border-color: #68b738;
  }

  &:active,
  &:active::after {
    background-color: #5eaa2f;
    opacity: 0.6;
  }

  &:active::before {
    border-color: #5eaa2f;
    opacity: 0.6;
  }
}

.example__compare-image {
  display: block;
  width: auto;
  height: 256px;
  object-fit: cover;

  @media screen and (min-width: $tablet-width) {
    height: 512px;
  }
}

.example__image-before img {
  object-position: left;
}

.example__image-after img {
  object-position: right;
}
