.gift {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 290px;
  margin: 0 auto;
  padding: 10px;
  background-image:
    linear-gradient(rgba($primary-decoration-color, 0.85), rgba($primary-decoration-color, 0.85)),
    image-set(
      url("../../images/catalog/gift-background-mobile@1x.webp") 1x type("image/webp"),
      url("../../images/catalog/gift-background-mobile@2x.webp") 2x type("image/webp"),
      url("../../images/catalog/gift-background-mobile@1x.jpg") 1x type("image/jpg"),
      url("../../images/catalog/gift-background-mobile@2x.jpg") 2x type("image/jpg")
    );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (max-width: calc($tablet-width - 1px)) {
    width: calc(100vw - 40px);
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    width: calc(100vw - 60px);
    background-image:
      linear-gradient(rgba($primary-decoration-color, 0.85), rgba($primary-decoration-color, 0.85)),
      image-set(
        url("../../images/catalog/gift-background-tablet@1x.webp") 1x type("image/webp"),
        url("../../images/catalog/gift-background-tablet@2x.webp") 2x type("image/webp"),
        url("../../images/catalog/gift-background-tablet@1x.jpg") 1x type("image/jpg"),
        url("../../images/catalog/gift-background-tablet@2x.jpg") 2x type("image/jpg")
      );
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    min-height: 288px;
    background-image:
      linear-gradient(rgba($primary-decoration-color, 0.85), rgba($primary-decoration-color, 0.85)),
      image-set(
        url("../../images/catalog/gift-background-desktop@1x.webp") 1x type("image/webp"),
        url("../../images/catalog/gift-background-desktop@2x.webp") 2x type("image/webp"),
        url("../../images/catalog/gift-background-desktop@1x.jpg") 1x type("image/jpg"),
        url("../../images/catalog/gift-background-desktop@2x.jpg") 2x type("image/jpg")
      );
  }
}

.gift__text {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: $light-text;
  text-align: center;

  @media (min-width: $tablet-width) and (max-width: calc($desktop-width - 1px)) {
    text-align: start;
  }
}

.gift__text::before {
  display: block;
  width: 78px;
  height: 80px;
  margin: 15px auto 48px;
  content: "";
  background-image: url("../../icons/stack.svg#icon-gift");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @media (min-width: $desktop-width) {
    margin-top: 13px;
  }
}
