.main-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 38px;
  padding: 13px 13px 14px 20px;

  @media (min-width: $tablet-width) {
    padding: 25px 34px 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 55px 110px 0;
  }
}

.main-header__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 190px;

  @media (min-width: $tablet-width) {
    width: 174px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-header__logo img {
  display: block;
}
