.main-nav {
  display: none; //временно
  position: relative;
  width: auto;
}

.main-nav__toggle {
  position: absolute;
  top: -33px;
  right: -14px;
  width: 24px;
  height: 21px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 7px 0 0 #000000, 0 14px 0 0 #000000;
}

.main-nav--opened .main-nav__toggle {
  top: -25px;
  width: 25px;
  height: 2px;
  background-color: #000000;
  transform: rotate(46deg);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 2px;
    background-color: #000000;
    transform: rotate(-92deg);
  }
}
