.products-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-content: center;
  padding: 20px 20px 25px;
  font-size: 12px;
  line-height: 16px;

  @media (max-width: calc($tablet-width - 1px)) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $tablet-width) {
    padding: 10px 37px 40px;
    font-size: 16px;
    line-height: 20px;
    background-image: linear-gradient(transparent 81px, $site-secondary-bg 81px);
  }
}

.products-card picture {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: calc($tablet-width - 1px)) {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }
}

.products-card__title {
  font-family: $title-font;
  font-size: 16px;
  line-height: 20px;
  color: $dark-gray-text-2;
  text-transform: uppercase;

  @media (max-width: calc($tablet-width - 1px)) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }
}

.products-card__parameters-list {
  @media (max-width: calc($tablet-width - 1px)) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
}

.products-card__link-button {
  width: 100%;
  font-size: 16px;

  @media (max-width: calc($tablet-width - 1px)) {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }
}
