.products {
  margin: 0 auto;
}

.products__list {
  display: grid;
  gap: 60px;
  margin: 0 auto;
  padding: 0;
  list-style: none;

  @media (max-width: calc($tablet-width - 1px)) {
    gap: 0;
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(auto-fit, 324px);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(auto-fit, 245px);
  }
}

.products__list li {
  @media (max-width: calc($tablet-width - 1px)) {
    border-top: 1px solid #ebebeb;
  }
}

.products__list:last-child {
  @media (max-width: calc($tablet-width - 1px)) {
    border-bottom: 1px solid #ebebeb;
  }
}

.products__item {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 324px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}
