.products-card {
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.products-card__title {
  font-family: $title-font;
  font-size: 16px;
  line-height: 20px;
  color: $dark-gray-text-2;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }
}
