.programs {
  width: (calc(100vw - 40px));
  margin: 0 auto 20px;

  @media screen and (min-width: $tablet-width) {
    width: calc(100vw - 60px);
    margin-bottom: 45px;
  }

  @media screen and (min-width: $desktop-width) {
    width: calc(100vw - 220px);
    margin-bottom: 71px;
  }
}

.programs__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;

  @media screen and (min-width: $tablet-width) {
    gap: 30px;
  }

  @media screen and (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}
