.program {
  display: grid;
}

.program__title {
  font-family: $title-font;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 100%;
  }
}

.program__icon {
  position: relative;
  display: block;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.program__icon::after {
  position: absolute;
  display: block;
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $primary-decoration-color;
  z-index: -1;
}

.program__icon--slim {
  width: 36px;
  height: 50px;
  background-image: url("../../icons/stack.svg#slim-icon");
}

.program__icon--pro {
  width: 67px;
  height: 28px;
  background-image: url("../../icons/stack.svg#pro-icon");
}
// .program__icon {
//   // position: absolute;
//   display: block;
//   content: "";
//   width: 50px;
//   height: 50px;
//   border-radius: 50%;
//   background-color: $primary-decoration-color;
// }

// .program__icon::before {
//   position: relative;
//   display: block;
//   width: 50px;
//   height: 50px;
//   // margin: 15px auto 48px;
//   content: "";
//   background-image: url("../../icons/stack.svg#slim-icon");
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: contain;
//   z-index: 2;
// }

.program__link {
  display: block;
  font-family: $title-font;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.programs__link-icon {
  display: block;
  width: 30px;
  height: 10px;
  background-image: url("../../../build/icons/stack.svg#icon-arrow");
}
