.programs {
  display: block;//врененая заглушка
}

.programs__title {
  font-family: $title-font;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 100%;
  }
}

.programs__link {
  display: block;
  font-family: $title-font;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.programs__link-icon {
  display: block;
  width: 30px;
  height: 10px;
  background-image: url("../../../build/icons/stack.svg#icon-arrow");
}
