.show-more {
  color: $dark-gray-text-4;
}

.show-more__title {
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }
}

.show-more__text {
  font-size: 12px;
  line-height: 16px;
}
