.site-nav-list {
  position: absolute;
  top: 53px;
  left: -210px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  margin: 0;
  padding: 0;
  font-family: $title-font;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: $site-bg;
  list-style: none;

  @media (min-width: $desktop-width) {
    color: $light-text;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }
}

.site-nav-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 22px 10px 24px;
  border-top: 1px solid #e6e6e6;
}

.site-nav-list a {
  color: $dark-text;
  text-decoration: none;
}
