.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 30px;
  padding: 20px 0;

  list-style: none;

  @media (min-width: $mobile-width) and (max-width: calc($tablet-width - 1px)) {
    border-top: 1px solid #9d9d9d;
    border-bottom: 1px solid #9d9d9d;
  }
}

.social__item {
  width: 28px;
  height: 22px;
}

.social__item:not(:last-of-type) {
  margin-right: 24px;
}
