.studio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  white-space: nowrap;
}

.studio__title {
  margin: 0;
  margin-right: 23px;
  font-size: 16px;
  line-height: 20px;
  color: $dark-gray-text-4;
}

.studio:hover svg,
.studio:focus svg {
  fill: #68b738;
}

.studio:active {
  opacity: 0.3;
}
