.studio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  flex-wrap: wrap;
  white-space: nowrap;
}

.studio__title {
  margin-right: 23px;
  font-size: 16px;
  line-height: 20px;
  color: $dark-gray-text-4;
}
